{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
	<div class="container" style="margin-top:200px">

		<div class="votre-panier me-5 ms-5">
			<div class="titre">
				<h5>Votre panier</h5>
			</div>
			{% if carts|length > 0 %}

				<div class="contenu">
					<table class="table text-center">
						<thead>
							<tr>
								<th></th>
								<th>Produit</th>
								<th>Prix</th>
								<th>Quantiter</th>
								<th>Toatal</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for cart in carts %}

								<tr>
									<td>
										<div class="taille-image">
											<img src="./asset/upload/product/{{cart.produit.imagePro}}" height="60px" alt="" width="60px">
										</div>
									</td>
									<td>
										<div class="nom-pro">
											{{cart.produit.nomPro}}
										</div>
									</td>
									<td>
										<div class="tprix-pro">
											{{cart.produit.prixPro}}
										</div>
									</td>
									<td>
										<div class="quantite-pro">
											{{cart.quantite}}
										</div>
									</td>

									<td>
										<div class="total-pro">
											{{cart.quantite * cart.produit.prixPro}}
										</div>
									</td>
									<td>
										<span class="badge rounded-pill bg-danger">delete</span>
									</td>

								</tr>
							{% endfor %}
						</tbody>
					</table>

					<div class="t-footer d-flex justify-content-between">
						<button class="btn btn-primary">CONTINUER MES ACHATS</button>
						<div class="total">
							<span class="pe-5">TOTAL :
								{{data.total}}</span>
							<a href="{{path("app_checkout")}}">
								<button class="btn btn-primary">PROCEED TO CHECKOUT
									<span>
										<i class="bi-chevron-right"></i>
									</span>
								</button>
							</a>

						</div>
					</div>
				</div>
			{% else %}
				<div class="panier-vide">
					<p>OUPS VOTRE PANIER EST VIDE IL FAUT AJOUTER QUELQUE CHOSE</p>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
