{% extends 'base.html.twig' %}

{% block title "Votre panier" %}

{% block body %}
	<div class="container" style="margin-top:200px">

		<div class="votre-panier me-5 ms-5 ba-ba">
			<div class="titre p-3 fav">
				<h5>Votre panier</h5>
			</div>
			{% if carts|length > 0 %}

				<div class="contenu p-4">
					<table class="table table-striped text-center fs-6">
						<thead>
							<tr>
								<th></th>
								<th>Produit</th>
								<th>Prix</th>
								<th>Quantiter</th>
								<th>Total</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for cart in carts %}

								<tr>
									<td>
										<div class="taille-image">
											<img src="./asset/upload/product/{{cart.produit.imagePro}}" height="60px" alt="" width="60px">
										</div>
									</td>
									<td>
										<div class="nom-pro">
											<span class='fw-bold'>
												{{cart.produit.nomPro}}
											</span>
											<br>
											<small>
												{{cart.produit.categorie.nomCate}}
											</small>
										</div>
									</td>
									<td>
										<div class="tprix-pro">
											{{cart.produit.prixPro}}
											Ar
										</div>
									</td>
									<td>
										<div class="quantite-pro">
											<a href="{{path("deletefrom_cart",{id:cart.produit.id})}}">
												<span class="text-danger">
													<i class="bi-caret-left-fill"></i>
												</span>
											</a>
											{{cart.quantite}}
											<a href="{{path("add_cart",{id:cart.produit.id})}}">
												<span class="text-danger">
													<i class="bi-caret-right-fill"></i>
												</span>
											</a>
										</div>
									</td>

									<td>
										<div class="total-pro">
											{{cart.quantite * cart.produit.prixPro}}
											Ar
										</div>
									</td>
									<td>
										<a href="{{path("delete_cart",{id:cart.produit.id})}}">
											<span class="badge rounded-pill bg-danger">delete</span>
										</a>
									</td>

								</tr>
							{% endfor %}
						</tbody>
					</table>

					<div class="t-footer d-flex justify-content-between">
						<a href="{{path("app_produit")}}">
							<button class="btn btn-sm btn-primary">
								<span>
									<i class="bi-chevron-left"></i>
								</span>CONTINUER MES ACHATS</button>
						</a>
						<div class="total">
							<span class="pe-5 fw-bold">TOTAL :
								{{data.total}}
								Ar</span>
							<a href="{{path("app_checkout")}}">
								<button class="btn btn-sm btn-primary">PROCEED TO CHECKOUT
									<span>
										<i class="bi-chevron-right"></i>
									</span>
								</button>
							</a>

						</div>
					</div>
				</div>
			{% else %}
				<div class="panier-vide">
					<p>OUPS VOTRE PANIER EST VIDE IL FAUT AJOUTER QUELQUE CHOSE</p>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
