{% extends "base.html.twig" %}
{% block title categorie.nomCate %}
{% block body %}
	<div class="container rm mt">
		<div class="col-10 rm mx-auto">

			<div class="top-product rm ">
				<div class=" rpm top ">
					<h6 id="All" class="active">Tous
					</h6>
					<div class="rpm">

						<h6 id="news">Nouveau</h6>
						<h6 id="best">Poupulaire</h6>
						<h6 id="offre">Offre</h6>
					</div>
				</div>
			</div>

			<div class="liste-produit rm m-3">

				{% for produit in produits %}

					<div class="product-card rm product-cart  m-1 bg-white box">
						<div class="product-image p-2 text-center">
							<a href="{{path("app_produit_show",{id:produit.id})}}">
								<img src="../../asset/upload/product/{{produit.imagePro}}" class="product-dump" alt="">
							</a>
						</div>
						<div class="cart-flex ">
							<div class="product-info p-2">
								<h4 class="product-title rm">{{produit.nomPro}}</h4>
								<span class="badge rm bg-danger mt-0">{{produit.categorie}}</span><br>
								<span class="text-warning rm pb-0">
									<i class="bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star-fill"></i>
									<i class="bi bi-star"></i>
								</span>
							</div>
							<div class="d-flex justify-content-between align-items-center">
								<div class="fw-bold rm ps-2">
									{% if produit.autrePrix %}
										<span class="product-price text-danger " value="{{produit.prixPro}}">{{produit.prixPro}}
											Ar</span>
										<span class="opacity-50 text-decoration-line-through">{{produit.autrePrix}}
											Ar</span>
									{% else %}

										<span class="product-price " value="{{produit.prixPro}}">{{produit.prixPro}}
											Ar</span>
									{% endif %}

								</div>
								<div class="cart-panier rm ">
									<span>
										<a href="{{path("add_cart",{id:produit.id})}}">

											<i data-product-id="{{produit.id}}" class="addToCart bi-cart-plus-fill"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>


		</div>
	</div>
{% endblock %}
