{% extends 'base.html.twig' %}

{% block title %}Home page !
{% endblock %}


{% block body %}
	<div class="container mt">
		<div class="m-flash ">
			{% for type ,messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{type}} text-center fs-4">
						{{message}}
					</div>

				{% endfor %}
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-3">
				<div class="list-group">
					<a href="#" class="bg-warning ps-3 fw-bold list-group-item list-group-item-action">
						<span class="pe-2">
							<i class="bi-collection-fill"></i>
						</span>
						CATEGORIES
					</a>

					{% for categorie in categories %}
						<div class="d-flex justify-content-between  list-group-item list-group-item-action list-group-item-white">
							<a href="{{path("app_categorie_list",{id:categorie.id})}}" class="text-decoration-none text-dark">
								<span>
									<i class="{{categorie.icons}}"></i>
								</span>
								{{categorie.nomCate}}</a>
							<span>
								<i class="bi-chevron-right"></i>
							</span>
						</div>
					{% endfor %}

				</div>
			</div>

			<div class="col-9 d-flex  vstack  ">

				<div class="slides p-0  ">
					{% for slide in slide %}

						<div class="w-100 fw-bold h-100 image-slides">
							<img id="img-sli" class="active" src="asset/upload/product/{{slide.imageSlides}}" width="100%" height="100%" class="image-top" alt="" srcset="">
							<div class="p-5 po-abso">
								<h3 class="mb-0 text-success fs-6">SPRING 2022</h3>
								<h1 class="fw-bold">{{slide.titre}}
								</h1>
								<h5 class="text-black fs-2 fw-bold">{{slide.sousTitre}}</h5>
								<button type="submit" class="btn btn-warning">SHOP NOW</button>
							</div>
						</div>

					{% endfor %}

					<div class="img-slides">
						{% for slide in slides %}
							<span class="img-slide " id="{{slide.id}}" data-src="asset/upload/product/{{slide.imageSlides}}"></span>
						{% endfor %}
					</div>
				</div>
				<div class="d-flex justify-content-between text-white p-2 align-items-center  bg-primary ">
					<div class="text-center  ps-3">
						<h3 class="fs-6 fw-bold mb-0">MONEY BACK</h3>
						<p class="fs-6  fw-light mb-0">30% Days Money Back Guarrante
						</p>
					</div>
					<div class="text-center  ">
						<h3 class="fs-6 fw-bold mb-0">FREE SHIPPING</h3>
						<p class="fs-6 fw-light mb-0">Shipping on orders over 5000 Ar
						</p>
					</div>
					<div class="text-center pe-3">
						<h3 class="fs-6 fw-bold mb-0">SPECIAL SALE</h3>

						<p class="fs-6  fw-light mb-0">Extra 2000 Ar off on all items
						</p>
					</div>

				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-3">
				<div class="ba-ba">
					<div class=" bo_ba  d-flex justify-content-between ">
						<div class="new p-3">
							<h6>TODAY OFFER</h6>
						</div>
						<div class="new">
							<span class="fs-6">
								<i class="fs-6 bi-chevron-left prev"></i>
								<i class="fs-6 bi-chevron-right next"></i>
							</span>
						</div>
					</div>
					<div class=" product-container ">
						{% for offre in offre %}
							<div class="product-card product-cart m-3 bg-white box">
								<div class="product-image p-2 text-center">
									<span class="discount-tag text-secondary">-50%</span>
									<a href="{{path("app_produit_show",{id:offre.id})}}">
										<img src="./asset/upload/product/{{offre.imagePro}}" width="70%" heigth="70%" class="product-dump" alt="">
									</a>
								</div>
								<div class="cart-flex ">
									<div class=" p-2">
										<h4 class="product-title fs-5">{{offre.nomPro}}</h4>
										<span class="badge bg-danger mt-0">{{offre.categorie}}</span><br>
										<span class="text-warning fs-6 pb-0">
											<i class="bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star"></i>
										</span>
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<div class="fw-bold fs-6 ps-2">

											<span class="product-price text-danger" value="{{offre.prixPro}}">{{offre.prixPro}}
												Ar</span>

											<span class="opacity-50 text-decoration-line-through">{{offre.autrePrix}}
												Ar</span>

										</div>
										<div class="cart-panier pe-3 ">
											<span>
												<a href="{{path("add_cart",{id:offre.id})}}">

													<i data-product-id="{{offre.id}}" class="addToCart bi-cart-plus-fill"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

			</div>
			<div class="col-9">
				<div class="ba-ba">
					<div class="bo_ba  d-flex justify-content-between align-items-center">
						<div class="new p-3">
							<h6>FUTUR PRODUCT</h6>
						</div>
						<div class="new fs-6 ">
							<span>
								<a href="">
									All</a>
							</span>
							<span>
								<a href="">Phone</a>
							</span>
							<span>
								<a href="">Pc</a>
							</span>
							<span>
								<a href="">Sport</a>
							</span>
							<span class="fs-6">
								<i class="fs-6 bi-chevron-left prev"></i>
								<i class="fs-6 bi-chevron-right next"></i>
							</span>
						</div>
					</div>
					<div class="product-container">
						{% for futur in futur %}
							<div class="product-card product-cart  m-3 bg-white box">
								<div class="product-image p-2 text-center">
									<a href="{{path("app_produit_show",{id:futur.id})}}">
										<img src="./asset/upload/product/{{futur.imagePro}}" width="70%" heigth="70%" class="product-dump" alt="">
									</a>
								</div>
								<div class="cart-flex ">
									<div class=" p-2">
										<h4 class="product-title fs-5">{{futur.nomPro}}</h4>
										<span class="badge bg-danger mt-0">{{futur.categorie}}</span><br>
										<span class="text-warning fs-6 pb-0">
											<i class="bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star"></i>
										</span>
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<div class="fw-bold fs-6 ps-2">

											<span class="product-price " value="{{futur.prixPro}}">{{futur.prixPro}}
												Ar</span>
											{% if futur.autrePrix != null %}
												<span class="opacity-50 text-decoration-line-through">{{futur.autrePrix}}
													Ar</span>
											{% endif %}
										</div>
										<div class="cart-panier pe-3 ">
											<span>
												<a href="{{path("add_cart",{id:futur.id})}}">

													<i data-product-id="{{futur.id}}" class="addToCart bi-cart-plus-fill"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-3">
				<div class="ba-ba">
					<div class=" bo_ba  d-flex justify-content-between ">
						<div class="new p-3">
							<h6>POPULAIRE</h6>
						</div>
						<div class="new">
							<span class="fs-6">
								<i class="fs-6 bi-chevron-left prev"></i>
								<i class="fs-6 bi-chevron-right next"></i>
							</span>
						</div>
					</div>
					<div class=" product-container ">
						{% for best in best %}
							<div class="product-card product-cart m-3 bg-white box">
								<div class="product-image p-2 text-center">

									<a href="{{path("app_produit_show",{id:best.id})}}">
										<img src="./asset/upload/product/{{best.imagePro}}" width="70%" heigth="70%" class="product-dump" alt="">
									</a>
								</div>
								<div class="cart-flex ">
									<div class=" p-2">
										<h4 class="product-title fs-5">{{best.nomPro}}</h4>
										<span class="badge bg-danger mt-0">{{best.categorie}}</span><br>
										<span class="text-warning fs-6 pb-0">
											<i class="bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star"></i>
										</span>
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<div class="fw-bold fs-6 ps-2">

											<span class="product-price " value="{{best.prixPro}}">{{best.prixPro}}
												Ar</span>
											{% if best.autrePrix != null %}
												<span class="opacity-50 text-decoration-line-through">{{best.autrePrix}}
													Ar</span>
											{% endif %}
										</div>
										<div class="cart-panier pe-3 ">
											<span>
												<a href="{{path("add_cart",{id:best.id})}}">

													<i data-product-id="{{best.id}}" class="addToCart bi-cart-plus-fill"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

			</div>
			<div class="col-9">
				<div class="ba-ba">
					<div class="liste-comerce bo_ba  d-flex justify-content-between align-items-center">
						<div class="new p-3">
							<h6>NEW PRODUCT</h6>
						</div>
						<div class="new fs-6 ">
							<span>
								<a href="">
									All</a>
							</span>
							<span>
								<a href="">Phone</a>
							</span>
							<span>
								<a href="">Pc</a>
							</span>
							<span>
								<a href="">Sport</a>
							</span>
							<span class="fs-6">
								<i class="fs-6 bi-chevron-left prev"></i>
								<i class="fs-6 bi-chevron-right next"></i>
							</span>
						</div>
					</div>
					<div class="product-container">
						{% for new in news %}
							<div class="product-card product-cart m-3 bg-white box">
								<div class="product-image p-2 text-center">
									<a href="{{path("app_produit_show",{id:new.id})}}">
										<img src="./asset/upload/product/{{new.imagePro}}" width="70%" heigth="70%" class="product-dump" alt="">
									</a>
								</div>
								<div class="cart-flex ">
									<div class="product-info p-2">
										<h4 class="product-title fs-5">{{new.nomPro}}</h4>
										<span class="badge bg-danger mt-0">{{new.categorie}}</span><br>
										<span class="text-warning fs-6 pb-0">
											<i class="bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star"></i>
										</span>
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<div class="fw-bold fs-6 ps-2">

											<span class="product-price " value="{{new.prixPro}}">{{new.prixPro}}
												Ar</span>
											{% if new.autrePrix != null %}
												<span class="opacity-50 text-decoration-line-through">{{new.autrePrix}}
													Ar</span>
											{% endif %}
										</div>
										<div class="cart-panier pe-3 " data-product-id="{{new.id}}">
											<span>
												<a href="{{path("add_cart",{id:new.id})}}">

													<i data-product-id="{{new.id}}" class="addToCart bi-cart-plus-fill"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

		</div>
		<div class="section  mt-4">

			{% for slide in slider %}
				<img id="{{slide.id}}" src="asset/upload/product/{{slide.imageSlides}}" class="image" width="100%" height="100%" alt="" srcset="">
			{% endfor %}

			<div class="text-offre  text-center pt-4">
				<h3>Weekend offre</h3>
				<h1>Biggest sale</h1>
				<h6>for online order</h6>
				<button class="btn btn-outline-warning btn-lg">Buy Now</button>
			</div>

		</div>
		<div class="top-product mt-4">
			<div class="d-flex top justify-content-between align-items-center">
				<h6>Random product</h6>
				<h6>Top best</h6>
				<h6>Top sale</h6>
			</div>
			<div class="liste-top">
				{% for produit in produits %}
					<a class="wm d-flex  justify-content-center align-items-center bg-white" href="{{path("app_produit_show",{id:produit.id})}}">


						<img src="./asset/upload/product/{{produit.imagePro}}" width="150px" heigth="200px" alt="">
						<div>
							<h4 class="product-title fs-5">{{produit.nomPro}}</h4>
							<span class="text-warning fs-6 pb-0">
								<i class="bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star"></i>
							</span>
							<div class="fw-bold fs-6 ps-2">

								<span class="product-price ">{{produit.prixPro}}
									Ar</span>
								{% if produit.autrePrix != null %}
									<span class="opacity-50 text-decoration-line-through">{{produit.autrePrix}}
										Ar</span>
								{% endif %}
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="top-blog mt-4">
			<div class="top">
				<h5 class="pt-3 text-center">Blog</h5>
			</div>
			<div class="d-flex justify-content-between mt-2">
				{% for blog in blog %}

					<div class="card  ms-1" style="width: 20rem;">
						<img src="asset/upload/product/{{blog.imageBog}}" class="card-img-top" height="200px" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{blog.titreBlog}}</h5>
							<p class="card-text">{{blog.descriptionBlog}}</p>
							<a href="{{path("app_blog_lire",{id:blog.id})}}" class="nav-link text-primary">Go somewhere</a>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
	{% block javascript %}
		<script src="asset/js/home.js"></script>
	{% endblock %}
{% endblock %}
