{% extends 'base.html.twig' %}

{% block title 'All produit' %}

{% block body %}
	<div class="container rm mt">
		<div class="row rox">
			<div class="col-3 rm">
				<div class="list-group mt-5">
					{{form_start(form)}}
					<h6>Categories</h6>
					{{form_row(form.Categorie)}}
					<div class="row">
						<h6>Prix</h6>
						<div class="col-6">
							{{form_row(form.minPrix)}}
						</div>
						<div class="col-6">
							{{form_row(form.maxPrix)}}
						</div>
					</div>
					<button id="cherch" class="btn btn-warning w-100" formnovalidate>Chercher</button>
					{{form_end(form)}}

				</div>
				<div class="countdown-container">
					<h6>Profitez les meilleur offre</h6>
					<div class="dfajr">
						<div class=" count-el ora">
							<p class="big-text" id="ora">0</p>
							<span>Heure</span>
						</div>
						<div class=" count-el minitra">
							<p class="big-text" id="minitra">0</p>
							<span>Minutes</span>
						</div>
						<div class=" count-el segondra">
							<p class="big-text" id="segondra">0</p>
							<span>Secondes</span>
						</div>
					</div>
				</div>
				<div class="liste-produit-block rm">
					{% for produit in futur %}

						<div class="product-card rm product-cart my-3 bg-white box">
							<div class="product-image p-2 text-center">
								<a href="{{path("app_produit_show",{id:produit.id})}}">
									<img src="./asset/upload/product/{{produit.imagePro}}" class="product-dump" alt="">
								</a>
							</div>
							<div class="cart-flex ">
								<div class="product-info p-2">
									<h4 class="product-title rm">{{produit.nomPro}}</h4>
									<span class="badge rm bg-danger mt-0">{{produit.categorie}}</span><br>
									<span class="text-warning rm pb-0">
										<i class="bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star"></i>
									</span>
								</div>
								<div class="d-flex justify-content-between align-items-center">
									<div class="fw-bold rm ps-2">

										{% if produit.autrePrix != null %}
											<span class="product-price text-danger " value="{{produit.prixPro}}">{{produit.prixPro}}
												Ar</span>
											<span class="opacity-50 text-decoration-line-through">{{produit.autrePrix}}
												Ar</span>
										{% else %}
											<span class="product-price  " value="{{produit.prixPro}}">{{produit.prixPro}}
												Ar</span>
										{% endif %}
									</div>
									<div class="cart-panier rm ">
										<span>
											<a href="{{path("add_cart",{id:produit.id})}}">

												<i data-product-id="{{produit.id}}" class="addToCart bi-cart-plus-fill"></i>
											</a>
										</span>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>


			</div>
			<div class="col-9 top-product rm">
				<div class=" rpm top ">
					<h6 id="All" class="active">Tous les produits</h6>
					<div class="d-flex justify-content-between align-items-center">

						<h6 id="news">Nouveau</h6>
						<h6 id="best">Poupulaire</h6>
						<h6 id="offre">Offre and futur</h6>
					</div>
				</div>

				<div id="list-produit">
					<div class="liste-produit rm">
						{% for produit in produits %}

							<div class="product-card rm product-cart m-1 bg-white box">
								<div class="product-image p-2 text-center">
									<a href="{{path("app_produit_show",{id:produit.id})}}">
										<img src="./asset/upload/product/{{produit.imagePro}}" class="product-dump" alt="">
									</a>
								</div>
								<div class="cart-flex ">
									<div class="product-info p-2">
										<h4 class="product-title rm">{{produit.nomPro}}</h4>
										<span class="badge rm bg-danger mt-0">{{produit.categorie}}</span><br>
										<span class="text-warning rm pb-0">
											<i class="bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star"></i>
										</span>
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<div class="fw-bold rm ps-2">

											{% if produit.autrePrix != null %}
												<span class="product-price text-danger " value="{{produit.prixPro}}">{{produit.prixPro}}
													Ar</span>
												<span class="opacity-50 text-decoration-line-through">{{produit.autrePrix}}
													Ar</span>
											{% else %}
												<span class="product-price  " value="{{produit.prixPro}}">{{produit.prixPro}}
													Ar</span>
											{% endif %}
										</div>
										<div class="cart-panier rm ">
											<span>
												<a href="{{path("add_cart",{id:produit.id})}}">

													<i data-product-id="{{produit.id}}" class="addToCart bi-cart-plus-fill"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}

					</div>

				</div>

				<div id="list-news" class="none">
					<div class="liste-produit rm">
						{% for news in news %}

							<div class="product-card rm product-cart  m-1 bg-white box">
								<div class="product-image p-2 text-center">
									<a href="{{path("app_produit_show",{id:news.id})}}">
										<img src="./asset/upload/product/{{news.imagePro}}" class="product-dump" alt="">
									</a>
								</div>
								<div class="cart-flex ">
									<div class="product-info p-2">
										<h4 class="product-title rm">{{news.nomPro}}</h4>
										<span class="badge rm bg-danger mt-0">{{news.categorie}}</span><br>
										<span class="text-warning rm pb-0">
											<i class="bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star"></i>
										</span>
									</div>
									<div class="d-flex  justify-content-between align-items-center">
										<div class="fw-bold rm ps-2">

											<span class="product-price " value="{{news.prixPro}}">{{news.prixPro}}
												Ar</span>
											{% if news.autrePrix != null %}
												<span class="opacity-50 text-decoration-line-through">{{news.autrePrix}}
													Ar</span>
											{% endif %}
										</div>
										<div class="cart-panier rm ">
											<span>
												<a href="{{path("add_cart",{id:news.id})}}">

													<i data-product-id="{{news.id}}" class="addToCart bi-cart-plus-fill"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

				<div id="list-best" class="none">
					<div class="liste-produit rm">
						{% for best in best %}

							<div class="product-card rm product-cart m-1 bg-white box">
								<div class="product-image p-2 text-center">
									<a href="{{path("app_produit_show",{id:best.id})}}">
										<img src="./asset/upload/product/{{best.imagePro}}" class="product-dump" alt="">
									</a>
								</div>
								<div class="cart-flex ">
									<div class="product-info p-2">
										<h4 class="product-title rm">{{best.nomPro}}</h4>
										<span class="badge rm bg-danger mt-0">{{best.categorie}}</span><br>
										<span class="text-warning rm pb-0">
											<i class="bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star"></i>
										</span>
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<div class="fw-bold rm ps-2">

											<span class="product-price " value="{{best.prixPro}}">{{best.prixPro}}
												Ar</span>
											{% if best.autrePrix != null %}
												<span class="opacity-50 text-decoration-line-through">{{best.autrePrix}}
													Ar</span>
											{% endif %}
										</div>
										<div class="cart-panier rm ">
											<span>
												<a href="{{path("add_cart",{id:best.id})}}">

													<i data-product-id="{{best.id}}" class="addToCart bi-cart-plus-fill"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div id="list-offre" class="none">
					<div class="liste-produit rm">
						{% for offre in offre %}

							<div class="product-card rm product-cart m-1 bg-white box">
								<div class="product-image p-2 text-center">
									<a href="{{path("app_produit_show",{id:offre.id})}}">
										<img src="./asset/upload/product/{{offre.imagePro}}" class="product-dump" alt="">
									</a>
								</div>
								<div class="cart-flex ">
									<div class="product-info p-2">
										<h4 class="product-title rm">{{offre.nomPro}}</h4>
										<span class="badge rm bg-danger mt-0">{{offre.categorie}}</span><br>
										<span class="text-warning rm pb-0">
											<i class="bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star-fill"></i>
											<i class="bi bi-star"></i>
										</span>
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<div class="fw-bold rm ps-2">

											{% if offre.autrePrix != null %}
												<span class="product-price text-danger" value="{{offre.prixPro}}">{{offre.prixPro}}
													Ar</span>
												<span class="opacity-50 text-decoration-line-through">{{offre.autrePrix}}
													Ar</span>
											{% else %}

												<span class="product-price " value="{{offre.prixPro}}">{{offre.prixPro}}
													Ar</span>
											{% endif %}
										</div>
										<div class="cart-panier rm ">
											<span>
												<a href="{{path("add_cart",{id:offre.id})}}">

													<i data-product-id="{{offre.id}}" class="addToCart bi-cart-plus-fill"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

				<nav aria-label="Page navigation example" class="mt-3 text-center">
					<ul class="pagination text-center">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						{% for item in 1..((counts / limit)|round(0, 'ceil') ) %}

							<li class="page-item {{(page == item)? " active":" "}}">
								<a class="page-link" href="?search%5BCategorie%5D={{categorie}}&search%5BminPrix%5D={{minPrix}}&search%5BmaxPrix%5D{{maxPrix}}&search%5B_token%5D={{token}}&page={{item}}">{{item}}</a>
							</li>
						{% endfor %}

						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>

		</div>

	</div>
	{% block javascript %}
		<script src="asset/js/topproduct.js"></script>
	{% endblock %}
{% endblock %}
