{% extends 'base.html.twig' %}

{% block title produit.nomPro %}

{% block body %}
	<div class="container mt">

		<div class="centre">
			<div class="image-show p-3">
				<img src="/asset/upload/product/{{produit.imagePro}}" width="100%" alt="" srcset="">
			</div>
			<div class="show-info">
				<h3 class="pt-3">{{produit.nomPro}}</h3>
				<p class="badge bg-danger">{{produit.categorie.nomCate}}</p>
				{% if produit.autrePrix %}
					<h4 class="text-danger">{{produit.prixPro}}
						Ar

						<span class="text-dark opacity-50 text-decoration-line-through">
							{{produit.autrePrix}}
							Ar
						</span>
						<a class="text-dark favorite ms-2" href="{{path("add_favorite",{id:produit.id})}}">

							<span>
								<i class="bi-heart-fill"></i>
							</span>
						</a>
					</h4>
				{% else %}
					<h4 class="text-dark">{{produit.prixPro}}
						Ar

						<a class="text-dark favorite ms-2" href="{{path("add_favorite",{id:produit.id})}}">

							<span>
								<i class="bi-heart-fill"></i>
							</span>
						</a>
					</h4>


				{% endif %}
				<p>{{produit.descriptionPro}}
				</p>
				<h5>Marque:</h5>

				<img src="/asset/upload/product/{{produit.marque.imageMarque}}" width:"400px" height="150px" alt="" srcset="">
				{% if produit.stock == 0 %}
					<div class="text-dark fw-bold bg-danger text-center m-2  brcp">
						<small>En cours de approvisionement</small>
					</div>
				{% else %}
					<div class="text-dark fw-bold bg-info text-center m-2  brcp">
						<small>
							{{produit.stock}}
							articles restants</small>
					</div>
				{% endif %}

				<div>

					<small class="pt-3">Choisissez votre couleur</small>
					<div class="choix-couleur d-flex justify-content-between pe-5 ps-5 pb-4 pt-1">

						<div class="couleur">
							<input type="checkbox" name="bleu" id="bleu"><span>Bleu</span>
						</div>
						<div class="couleur">
							<input type="checkbox" name="noir" id="noir"><span>Noir</span>
						</div>
						<div class="couleur">
							<input type="checkbox" name="rouge" id="rouge"><span>Rouge</span>
						</div>
					</div>
				</div>
				<div class="text-end pe-3 pb-3">
					<a href="{{path("add_cart",{id:produit.id})}}">

						<button class="btn btn-primary ">
							<span>
								<i class="bi-cart"></i>
							</span>Ajouter au panier</button>
					</a>
				</div>
			</div>
		</div>
		<div class="rox text-center mt-4">
			<div class="col-8 mx-auto">

				<h5>Commentaire
					<span class="badge bg-danger">{{counts}}</span>
				</h5>
				{% if counts %}
					<div class="note w-100 p-3 bg-info">
						<span>Note global donnée par utilisateur
							<br>
							<i class="bi-star-fill"></i>
							<i class="bi-star-fill"></i>
							<i class="bi-star-fill"></i>
							<i class="bi-star-fill"></i>
							<i class="bi-star-fill"></i><br><small>(calculée sur  1 avis )</small>
						</span>
					</div>
				{% endif %}
				{% if app.user %}
					{% if commentaire|length > 0  %}
						<div class="d-flex p-4 justify-content-between align-items-center">
							{% for commentaire in commentaire %}
								<div class="commentaire d-flex">
									<img src="/asset/upload/product/{{commentaire.users.imageUser}}" class="brce" width="80px" height="80px" alt="">
									<span>{{commentaire.users.prenomUser}}
										<br>
										{{commentaire.commentaire}}
										<br><span class="text-warning">
											<i class="bi-star-fill"></i>
											<i class="bi-star-fill"></i>
											<i class="bi-star-fill"></i>
											<i class="bi-star-fill"></i>
											<i class="bi-star-fill"></i>
										</span>
										<br><p>
											Crée le
											{{commentaire.createdAt|date("d-m-Y H:i")}}
										</p>
									</span>
								</div>
							{% endfor %}
						</div>
					{% endif %}

					<div class="form mt-3">
						{{form_start(form)}}
						{{form_widget(form)}}
						<button class="btn btn-sm w-50 btn-warning" formnovalidate>commenter</button>
						{{form_end(form)}}
					</div>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
