{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<div class="container" style="margin-top:200px">
		<div class="centre">
			<div class="image-show p-3">
				<img src="/asset/upload/product/{{produit.imagePro}}" width:"500px" height="500px" alt="" srcset="">
			</div>
			<div class="show-info">
				<h3>{{produit.nomPro}}</h3>
				<p>{{categorie.nomCate}}</p>
				<h3>{{produit.prixPro}}
					<span>
						<i class="bi-heart"></i>
					</span>
				</h3>
				<p>{{produit.descriptionPro}}
				</p>
				<h5>Marque:</h5>

				<img src="/asset/upload/product/{{marque.imageMarque}}" width:"400px" height="150px" alt="" srcset="">
				<div>

					<small class="pt-3">Choisissez votre couleur</small>
					<div class="choix-couleur d-flex justify-content-between pe-5 ps-5 pb-4 pt-1">

						<div class="couleur">
							<input type="checkbox" name="bleu" id="bleu"><span>Bleu</span>
						</div>
						<div class="couleur">
							<input type="checkbox" name="noir" id="noir"><span>Noir</span>
						</div>
						<div class="couleur">
							<input type="checkbox" name="rouge" id="rouge"><span>Rouge</span>
						</div>
					</div>
				</div>
				<div class="text-end pe-3 pb-3">
					<a href="{{path("add_cart",{id:produit.id})}}">

						<button class="btn btn-primary ">
							<span>
								<i class="bi-cart"></i>
							</span>Ajouter au panier</button>
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
