{% block body %}
	<header class="bg-primary">


		<ul class="nav justify-content-end container ">
			<li class="nav-item">
				<a class="nav-link text-white " href="#" style="font-size:12px">
					<i class="bi-person"></i>
					My account</a>
			</li>
			<li class="nav-item">
				<a class="nav-link  text-white" href="{{path("app_cart")}}" style="font-size:12px">
					<i class="bi-cart-fill"></i>
					My cart</a>
			</li>
			<li class="nav-item">
				<a class="nav-link  text-white" href="#" style="font-size:12px">
					<i class="bi-check"></i>
					Checkout</a>
			</li>
			{% if app.user %}
				<li class="nav-item">
					<a class="nav-link  text-white " href="{{path("app_logout")}}" style="font-size:12px">
						<i class="bi-lock"></i>
						Logout</a>
				</li>
			{% else %}

				<li class="nav-item">
					<a class="nav-link  text-white " href="{{path("app_login")}}" style="font-size:12px">
						<i class="bi-lock"></i>
						Login</a>
				</li>
			{% endif %}
		</ul>
		<nav class="navbar navbar-light bg-primary display-inline-block container">
			<h3 class="ml-5">Webvente</h3>
			<form>

				<div class="input-group">

					<select class="form-select" id="inlineFormSelectPref" style="width:90px">
						<option selected>Category</option>
						<option value="1">One</option>

					</select>
					<input type="text" class="form-control" placeholder="Search here" aria-label="Username" aria-describedby="basic-addon1" style="width:500px">
					<button type="submit" class="btn btn-warning">
						<i class="bi-search"></i>
					</button>
				</div>

			</form>
			<button type="submit" class="btn text-white  pr-10" style=" background-color: blue;opacity:100;">
				<span>
					<i class="bi-cart-check-fill"></i>
					| CART - 30000 Ar
				</span>
			</button>
		</nav>
		<nav class="navbar navbar-expand navbar-light ms-0 me-0" style=" background-color: blue;">
			<div class="container-fluid">

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse container " id="navbarText">
					<ul class="navbar-nav me-auto ">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{path("app_home")}}" style="color:white">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("app_produit")}}" style="color:white">MAGASIN</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" style="color:white">BLOG</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" style="color:white">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" style="color:white">CONTACT</a>
						</li>
					</ul>
					<span class="navbar-text text-warning">
						TODAY OFFER
					</span>
				</div>
			</div>
		</nav>

	</header>
{% endblock %}
