{% extends 'dashboard.html.twig' %}

{% block title 'All produit' %}

{% block body %}
	<div class="main-content">
		<main>
			<div class="bus">

				<div class="d-flex justify-content-between p-3 bbw align-items-center">
					<h5>Tous les produits</h5>
					<a href="{{path("app_produit_new")}}">
						<button class="btn btn-warning">Ajouter un nouveau produit</button>
					</a>
				</div>
				<div class="p-3  ">

					<div class=" bbw pe-3 pb-3 d-flex justify-content-between  align-items-center">
						<h5>Tous les produits</h5>
						<div class="d-flex">
							<input type="text" class="form-control" placeholder="Search produit">
							<input type="text" class="form-control" placeholder="Search produit">
						</div>
					</div>

					<table class="table p-4 mt-3 text-center">
						<thead class="fs-6">
							<tr>
								<th>#</th>
								<th class="text-start ps-5">Nom</th>
								<th class="text-start">Info</th>
								<th>Categorie</th>
								<th>Marque</th>
								<th>Publier</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for produit in produits %}
								<tr>
									<td>{{ produit.id }}</td>
									<td>
										<div class="d-flex  ps-4 pe-0 m-0  align-items-center">

											<img src="/asset/upload/product/{{produit.imagePro}}" width:"60px" height="60px" alt="" srcset="">
											{{produit.nomPro}}
										</div>
									</td>
									<td>
										<div class="info  text-start">
											<span>Evaluation:
												<span class="text-warning">
													<i class="bi-star-fill"></i>
													<i class="bi-star-fill"></i>
													<i class="bi-star-fill"></i>
													<i class="bi-star-half"></i>
													<i class="bi-star"></i>
												</span>
												<br>Total vendu :
												<br>
												Prix:
												<small class"fw-bold">
													{{ produit.prixPro }}
												</small>
											</span>

										</div>
									</td>
									<td>
										<span class="badge bg-secondary">{{produit.categorie}}</span>
									</td>
									<td>marque</td>
									<td>
										{% if produit.status == true %}

											<a href="{{path("app_status",{id:produit.id})}}">

												<span class="text-success fs-3">
													<i class="bi-toggle-on"></i>
												</span>
											</a>
										{% else %}
											<a href="{{path("app_status",{id:produit.id})}}">

												<span class="text-success fs-3">
													<i class="bi-toggle-off"></i>
												</span>
											</a>

										{% endif %}
									</td>

									<td>
										<div class="d-flex justify-content-center align-items-center m-0">

											<a href="{{ path('app_produit_show2', {'id': produit.id}) }}">

												<button type="button" class="btn  btn-sm brc btn-outline-warning">
													<i class="bi-eye-fill"></i>
												</button>

											</a>
											<a href="{{ path('app_produit_edit', {'id': produit.id}) }}">
												<button type="button" class="btn  btn-sm brc btn-outline-primary">
													<i class="bi-pencil-square"></i>
												</button>

											</a>
											<a href="{{ path('app_promotion', {'id': produit.id}) }}">
												<button type="button" class="btn btn-sm  brc btn-outline-primary">
													<i class="bi-layers-fill"></i>
												</button>

											</a>
											{{ include('produit/_delete_form.html.twig') }}
										</div>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="10">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</main>

	</div>


{% endblock %}
