{% extends "dashboard.html.twig" %}
{% block title "Detail commandes" %}
{% block body %}

	<div class="main-content">
		<main>
			<div class="bus">

				<div class="detail-commande bbu p-3">
					<h5>Detail de la commande</h5>
				</div>
				<div class="info-user_commander p-3 bbu d-flex justify-content-between ">
					<div>
						<h5>Information concernant au client</h5>
						<p>Nom :
							{{app.user.fullName}}<br>
							E-mail :
							{{app.user.email}}<br>
							Télephone :
							{{app.user.numberPhone}}</p>
					</div>
					<div class=" d-flex justify-content-center">
						<div>
							{{form_start(form)}}
							{{form_row(form.statusCommandes)}}
							{{form_row(form.statusPaiement)}}

						</div>
						<div>
							<button class="btn btn-warning h-100 ms-3">Valider</button>
						</div>
						{{form_end(form)}}
					</div>
				</div>
				<div class="address-liv d-flex p-3 bbu justify-content-between ">
					<div class="addres  d-flex  ">
						<div>
							<h5>Addresse de livraison</h5>
							{% for address in app.user.addres %}
								<p>
									{{address.postal}}-{{address.ville}}
									<br>{{address.parcelle}}</p>
							{% endfor %}
						</div>
						<div class="ms-5">
							<h5>Addresse de Facturation</h5>
							{% for address in app.user.addres %}
								<p>
									{{address.postal}}-{{address.ville}}
									<br>{{address.parcelle}}</p>
							{% endfor %}
						</div>
					</div>
					<div class="info-commande">
						<div class="text-end">

							<p>commande #{{commandes.codeCommande|date("Hi")}}</p>
							<p>Creé le
								{{commandes.createdAt|date("d-m-Y")}}</p>
							<p>Type de livraison : standart</p>
							<p>Mode de paiement : payé apres livraison</p>
						</div>
					</div>
				</div>
				<div class="table p-3">
					<table class="table table-bordered text-center p-3">
						<thead>
							<tr>
								<th>#</th>
								<th class="text-start ps-5">Produit</th>
								<th>Quantite</th>
								<th>Prix unitaire</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							{% for panier in panier %}
								<tr>
									<td>{{panier.id}}</td>
									<td class="d-flex justify-content-start ">

										<img src="../../asset/upload/product/{{panier.imageProduct}}" width="60px" height="60px" alt="" srcset="">
										<div class="ms-4 text-start">

											<span class="fw-bold">
												{{panier.nameProduct}}
											</span>
											<br>{{panier.descriptionProduct}}

										</div>

									</td>
									<td>{{panier.qteProduct}}</td>
									<td>{{panier.priceProduct}}
										Ar</td>
									<td>{{panier.total}}
										Ar</td>
								</tr>
							{% endfor %}
							<tr class="fw-bold">
								<td></td>
								<td></td>
								<td></td>
								<td>Total
								</td>
								<td>
									{{commandes.subTotal}}
									Ar</td>
							</tr>
						</tbody>


					</table>

				</div>
			</div>
		</main>
	</div>
{% endblock %}
