{% extends "dashboard.html.twig" %}
{% block title "All commandes" %}
{% block body %}

	<div class="main-content">
		<main>
			<div class="bus ">

				<div class="d-flex justify-content-between align-items-center p-3 bbu">
					<h5>Commandes</h5>
					<div class="form d-flex">
						<form action="" method="get" class="form  d-flex">
							<select name="statusL" id="statusL " class="form-select ms-3 form-control-sm" onchange="this.form.submit()">
								<option value="">Etat de commande</option>
								<option value="0">News</option>
								<option value="1">Passeé</option>
								<option value="2">Confirmée</option>
								<option value="4">En livraison</option>
								<option value="3">Livrée</option>
							</select>
							<select name="statusP" id="statusP" class="form-select ms-3 form-group" onchange="this.form.submit()">
								<option value="">Etat de paiement</option>
								<option value="0">No payé</option>
								<option value="1">Non payé</option>
								<option value="2">Payé</option>
							</select>
							<input type="datetime" name="code" id="code" class='ms-3 form-control' min="0" placeholder="Entrer le Code">

						</form>
					</div>
				</div>
				<div class=" pe-4 ps-4">
					<table class="table table-striped text-center">
						<thead>
							<tr>
								<th>#</th>
								<th>code</th>
								<th>Client</th>
								<th>Quantiteé</th>
								<th>Montant en Ar</th>
								<th>Etat de commande</th>
								<th>Etat de paiement</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							{% for commande in commandes %}
								<tr>
									<td>{{commande.id}}</td>
									<td>{{commande.codeCommande|date("Hi")}}</td>
									<td>{{commande.users.prenomUser}}</td>
									<td>{{commande.quantite}}</td>
									<td>{{commande.subtotal}}
										Ar
									</td>
									<td>
										<span class="badge {{commande.statusCommandes.style |default(" bg-secondary")}}">Commandes
											{{commande.statusCommandes|default("news ")}}</span>
									</td>
									<td>
										<span class="badge  {{commande.statusPaiement.style |default(" bg-secondary")}}">{{commande.statusPaiement|default("No payé")}}</span>
									</td>
									<td>
										<div class="options">
											<a href="{{path("app_commandes_detail",{id:commande.id})}}">
												<span>
													<i class="bi-eye"></i>
												</span>
											</a>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<nav aria-label="Page navigation example" class="mt-3  text-center">
						<ul class="pagination text-center pb-3">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							{% for item in 1..((counts / limit)|round(0, 'ceil') ) %}

								<li class="page-item {{(page == item)? " active":" "}}">
									<a class="page-link " href="?statusL={{livraison}}&statusP={{payer}}&code={{code}}&page={{item}}">{{item}}</a>
								</li>
							{% endfor %}

							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</main>
	</div>
{% endblock %}
