{% extends "dashboard.html.twig" %}
{% block title "All commandes" %}
{% block body %}

	<div class="main-content">
		<main>
			<div class="titre">
				<h4>Commandes</h4>
			</div>
			<div class="table">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>code commande</th>
							<th>Quantiteé</th>
							<th>Client</th>
							<th>Montant en Ar</th>
							<th>Status de commande</th>
							<th>Status de paiement</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						{% for commande in commandes %}
							<tr>
								<td>{{commande.id}}</td>
								<td>{{commande.codeCommande|date("Hi")}}</td>
								<td>{{commande.quantite}}</td>
								<td>{{app.user.fullName}}</td>
								<td>{{commande.subtotal}}
								</td>
								<td>
									<span class="badge {{commande.statusCommandes.style |default(" bg-warning")}}">{{commande.statusCommandes|default("passée")}}</span>
								</td>
								<td>
									<span class="badge  {{commande.statusPaiement.style |default(" bg-danger")}}">{{commande.statusPaiement|default("Non payé")}}</span>
								</td>
								<td>
									<div class="options">
										<a href="{{path("app_commandes_detail",{id:commande.id})}}">
											<span>
												<i class="bi-eye"></i>
											</span>
										</a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</main>
	</div>
{% endblock %}
