{% extends "dashboard.html.twig" %}
{% block title "Detail commandes" %}
{% block body %}

	<div class="main-content">
		<main>
			<div class="bus bsw">

				<div class="detail-commande bbw p-3">
					<h5>Detail de la commande #{{commandes.codeCommande|date("Hi")}}</h5>
				</div>
				<div class="info-user_commander p-2 bbw d-flex justify-content-between ">
					<div class="ms-4">
						<h5>Information concernant au client</h5>
						<p>Nom :
							<span class="fw-bold">
								{{commandes.users.fullName}}
							</span>
							<br>
							E-mail :
							<span class="fw-bold">
								{{commandes.users.email}}
							</span>
							<br>
							Télephone :
							<span class="fw-bold">
								{{commandes.users.numberPhone}}
							</span>
						</p>
					</div>
					<div class=" d-flex justify-content-center">
						<div>
							{{form_start(form)}}
							<label class="lab">Statut de commandes</label>
							{{form_row(form.statusCommandes)}}
							<label class="lab">Statut de paiement</label>
							{{form_row(form.statusPaiement)}}

						</div>

						<button class="btn btn-warning h-60 mb-0  m-3">Valider</button>

						{{form_end(form)}}
					</div>
				</div>
				<div class="address-liv d-flex mt-4 pt-0 p-2 bbw justify-content-between ">
					<div class="addres  d-flex  ">
						<div class="ms-4">
							<h5>Addresse de livraison</h5>
							{% for address in app.user.addres %}
								<p>
									{{address.postal}}-{{address.ville}}
									<br>{{address.parcelle}}</p>
							{% endfor %}
						</div>
						<div class="ms-5">
							<h5>Addresse de Facturation</h5>
							{% for address in app.user.addres %}
								<p>
									{{address.postal}}-{{address.ville}}
									<br>{{address.parcelle}}</p>
							{% endfor %}
						</div>
					</div>
					<div class="info-commande">
						<div class="text-end me-3">

							<p>commande
								<span class="fw-bold text-info">
									#{{commandes.codeCommande|date("Hi")}}
								</span>
							</p>
							<p>Creé le
								<span class="fw-bold">
									{{commandes.createdAt|date("d-m-Y")}}
								</span>
							</p>
							<p>Type de livraison :
								{% if commandes.statusCommandes %}
									<span class=" badge {{commandes.statusCommandes.style}}">
										{{commandes.statusCommandes.typeLivraison}}
									</span>
								{% else %}
									<span class=" badge bg-secondary">
										Standart
									</span>

								{% endif %}

							</p>
							<p>Mode de paiement :
								{% if commandes.statusPaiement %}
									<span class=" badge {{commandes.statusPaiement.style}}">
										{{commandes.statusPaiement.typePayer}}
									</span>

								{% else %}
									<span class=" badge bg-secondary">
										Payer apres livraison
									</span>

								{% endif %}
							</p>
						</div>
					</div>
				</div>
				<div class="m-2">
					<table class="table table-bordered text-center p-3">
						<thead>
							<tr>
								<th>#</th>
								<th class="text-start ps-5">Produit</th>
								<th>Quantite</th>
								<th>Prix unitaire</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>

							{% for panier in panier %}
								<tr>
									<td>{{panier.id}}</td>
									<td class="d-flex">

										<img src="../../asset/upload/product/{{panier.imageProduct}}" width="80px" heigth="80px" alt="" srcset="">
										<div class="ms-4 text-start">

											<span class="fw-bold text-dark">
												{{panier.nameProduct}}
											</span>
											<br>{{panier.descriptionProduct}}

										</div>

									</td>
									<td>{{panier.qteProduct}}</td>
									<td>{{panier.priceProduct}}
										Ar</td>
									<td>{{panier.total}}
										Ar</td>
								</tr>
							{% endfor %}
							<tr class="fw-bold ">

								<td colspan="4" class="text-dark text-end pe-4">Total
								</td>
								<td class="text-dark">{{commandes.subTotal}}
									Ar</td>
							</tr>
						</tbody>


					</table>

				</div>
			</div>
		</main>
	</div>
{% endblock %}
