{% extends 'base.html.twig' %}

{% block title  produit.nom %}

{% block body %}
	<div>

		<article>
			<h1>
				{{produit.nom}}
			</h1>
			<p>{{produit.prix}}
			</p>
		</article>
		<a href="{{path('app_edit_produit',{id:produit.id})}}">Editer</a>|
		<a href="{{path('app_delete_produit',{id:produit.id})}}" onclick='confirm(" tu es sur")' && ;>Suprimer</a>|
		<a href="{{path('app_admin')}}">Go back</a>

	</div>
{% endblock %}
