{% extends 'base.html.twig' %}

{% block title 'Mes commandes' %}

{% block body %}
	<div class="container rm rmt">
		<div class=" row rm">
			<div class="col-9 rm bcf mx-auto">

				<div class="commande-id bce ">
					<div class="djcbm">
						<h4 class="fs-5">Commande #{{commande.codeCommande|date("Hi")}}</h4>
						<div class="info-commande text-end">

							<p class="mb-0">creé le
								<span class="text-dark fw-bold ">
									{{commande.createdAt|date("d-m-Y H:i")}}

								</span>
							</p>


							<p class="mb-0">Arrivé prevus<span class="text-dark fw-bold ">
									{{commande.createdAt|date("d-m-Y ")}}
								</span>
							</p>
							<p class="mb-0">client :<span class="text-dark fw-bold ">
									{{app.user.prenomUser}}</span>
							</p>
							<p class="mb-0">Télephone:<span class="text-dark fw-bold ">
									{{app.user.numberPhone}}</span>
							</p>
							<p class="mb-0">quantité :<span class="text-dark fw-bold ">
									{{commande.quantite}}</span>
							</p>
							<p>Total :<span class="text-dark fw-bold ">
									{{commande.subtotal}}
									Ar</span>
							</p>
						</div>
					</div>

					{% if commande.statusCommandes %}
						<div id="progress" value="{{commande.statusCommandes.id}}" class=" fdja">
							<span id="span">
								<i class="bi-check-circle-fill"></i>
							</span>
							<div id="w25" class="w_25">
								<div class="line"></div>
							</div>
							<span id="span1">
								<i class="bi-check-circle-fill"></i>
							</span>
							<div id="w251" class="w_25">
								<div class="line"></div>
							</div>
							<span id="span2">
								<i class="bi-check-circle-fill"></i>
							</span>
							<div id="w252" class="w_25">
								<div class="line"></div>
							</div>
							<span id="span3">
								<i class="bi-check-circle-fill"></i>
							</span>
						</div>
					{% endif %}


					<div class="d-flex justify-content-between pe-2 mt-2 text-center">
						<h5 class="fs-6">COMMANDE EFFECTUEE</h5>
						<h5 class="fs-6">EN COURS D'EXPEDITION</h5>
						<h5 class="fs-6">EN COURS DE LIVRAISON</h5>
						<h5 class="fs-6">COMMANDE LIVREE</h5>
					</div>

					<button id="button" class="btn btn-dark w-100" style="display:none">ANNULER LA COMMANDE</button>

				</div>
				<div class="liste-produi ">
					{% for panier in panier %}

						<div class="row rm align-items-center m-3">

							<div class="image-product rm col-5">
								<img src="/asset/upload/product/{{panier.imageProduct}}" width="100%" height="300px" alt="" srcset="">

							</div>
							<div class="info-product rm p-5 col-7 text-center">
								<h6>
									<span>
										<i class="bi-heart-fill"></i>
									</span>Commande numéro #{{commande.codeCommande|date("Hi")}}</h6>
								<h5 class="fs-1">{{panier.nameProduct}}</h5>
								<p>
									<span class="text-dark fw-bold ">{{panier.descriptionProduct}}</span>
								</p>
								<p>
									<span class="text-dark fw-bold ">Prix :
									</span>
									{{panier.priceProduct}}
									Ar ,<span class="text-dark fw-bold ">{{panier.createdAt|date("d/m/Y ")}}</span>
								</p>
								<button id="liste" class="btn btn-info">Commande enregistré</button>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
	{% block javascript %}
		<script src="../../asset/js/progress.js"></script>
	{% endblock %}
{% endblock %}
