{% extends 'base.html.twig' %}

{% block title 'Tableau de board' %}

{% block body %}
	<div class="container rm mt">
		<div class="compte-user row rm">
			<div class="col-3 rm">


				{% include "./partial/_compteuser.html.twig" %}
			</div>
			<div class="info-user col-9 rm">
				<div class="pursed br ">
					<h5 class="pb-1">Pursed items</h5>
					<div class="block0 ms-1 ">
						<p class="p-3">Produit total :
							<span>{{quantity}}</span>
						</p>
					</sppan>
				</div>
				<div class="block1 ms-1 mt-3">
					<p class="p-3">commande total :
						<span>{{commandeTotal}}
						</span>
					</p>
				</div>

			</div>
			<div class="pursed br ">
				<h5>Montant total à payé</h5>
				<div class="block2 ms-1 mt-3" style="height:80px">

					<p class="p-3">
						<i class="bi-credit-card-fill"></i><br>
						{{subTotal}}
						Ar</p>
				</div>
			</div>
			<div class="pursed br ">
				<div class="d-flex pb-2 justify-content-between" style="border-bottom:1px solid black">

					<h5>INFORMATIONS</h5>
					<a href="{{path("app_compte_edit",{id:app.user.id})}}">
						<span class="badge bg-secondary">
							<i class="bi-pencil-fill"></i>
						</span>
					</a>
				</div>
				<div class="info pt-4">

					<p>{{app.user.fullName}}
						<br>{{app.user.email}}</p>

					<button class="btn btn-warning w-100">MODIFIER MOT DE PASSE</button>
				</div>
			</div>
			<div class="pursed br ">
				<div class="d-flex pb-2 justify-content-between" style="border-bottom:1px solid black">

					<h5>ADRESSES</h5>
					{% for addres in app.user.addres %}
						<a href="{{path("app_addres_edit",{id:addres.id})}}">
							<span class="badge bg-secondary">
								<i class="bi-pencil-fill"></i>
							</span>
						</a>
					{% endfor %}
				</div>
				<div class="info pt-2">
					{% if app.user.addres | length > 0 %}
						<p>Address par defaut :</p>
						{% for addres in app.user.addres %}
							<p class="ms-1 mb-1 mt-O">{{addres.postal }}-
								{{addres.ville}}
								<br>{{addres.parcelle}}
								<br>{{addres.numero}}
								<br></p>
						{% endfor %}

					{% else %}
						<a href="{{path("app_addres_new")}}">
							<button class="btn mt-5 btn-warning w-100">AJOUTER UNE ADDRESS</button>
						</a>
					{% endif %}


				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
