{% extends 'base.html.twig' %}

{% block title 'Mes commandes' %}

{% block body %}
	<div class="container mt">
		<div class="compte-user row">
			<div class="col-3">
				{% include "./partial/_compteuser.html.twig" %}
			</div>
			<div class="p-3 br col-9">
				{% if commandes| length > 0 %}

					<div class="fav">
						<h4>Votre commandes</h4>
					</div>
					<div class="table">
						<table class=" mt-4 table">
							<thead>
								<tr>
									<td>#Order</td>
									<td>Date</td>
									<td>Order total</td>
									<td>Order status</td>
									<td>Actions</td>
								</tr>
							</thead>
							<tbody>
								{% for commande in commandes %}
									<tr>
										<td>{{commande.codeCommande |  date("Hi") }}</td>
										<td>{{commande.createdAt | date("d/m/Y")}}</td>
										<td>{{commande.subtotal}}</td>
										<td>
											<span class="badge  bg-primary">{{commande.statusCommandes|default("passée")}}</span>
										</td>
										<td>
											<a href="{{path("app_compte_commandes_show",{id:commande.id})}}">

												<span type="button" class="btn rounded-pill btn-outline-primary ">VOIR COMMANDE</span>
											</a>
										</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				{% else %}
					<div class="fav">
						<h4>Vous n'êtes pas encore commande
						</h4>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
