{% extends 'base.html.twig' %}

{% block title 'Mes commandes' %}

{% block body %}
	<div class="container rm mt">
		<div class="compte-user rm row">
			<div class="col-3 rm">
				{% include "./partial/_compteuser.html.twig" %}
			</div>
			<div class="p-3 br  col-9 rm">
				{% if commandes| length > 0 %}

					<div class="fav">
						<h4>Votre commandes</h4>
					</div>
					<div class="table">
						<table class=" mt-4 table rm">
							<thead>
								<tr>
									<th class="rm">#Order</th>
									<th>Date</th>
									<th class="rm">Order Qte</th>
									<th>Order total</th>
									<th>Order status</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for commande in commandes %}
									<tr>
										<td class="rm">{{commande.codeCommande |  date("Hi") }}</td>
										<td>{{commande.createdAt | date("d/m/Y")}}</td>
										<td class="text-center rm">{{commande.quantite}}</td>
										<td>{{commande.subtotal}}
											Ar</td>
										<td>
											<span class="badge  {{commande.statusCommandes.style|default(" bg-secondary")}}">{{commande.statusCommandes|default("enregistré")}}</span>
										</td>
										<td class="rm rs">
											<a href="{{path("app_compte_commandes_show",{id:commande.id})}}">

												<span type="button" class="btn btn-sm rounded-pill btn-outline-primary ">VOIR COMMANDE</span>
											</a>
										</td>
										<td class="rpp">
											<a href="{{path("app_compte_commandes_show",{id:commande.id})}}">

												<span type="button" class="btn btn-sm rounded-pill btn-outline-primary ">VOIR</span>
											</a>
										</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				{% else %}
					<div class="fav">
						<h4>Vous n'êtes pas encore commande
						</h4>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
