{% extends 'base.html.twig' %}

{% block title "Checkout"%}

{% block body %}
	<div class="container rm mt">
		<div class="row rm">

			<div class="col-7 rm">
				<div class="address-fac p-4  ba-ba">
					<h5 class="pb-3 bo_bo">Adresse de Livraison</h5>
					<div class="formulaire pt-1">
						{{ form_start(form )}}

						{{ form_row(form.Address) | replace({"all": "</br>"})|raw  }}
						{% for addres in app.user.addres %}
							<div class="text-end">
								<a href="{{path("app_addres_edit",{id:addres.id})}}">
									<button class="btn btn-sm btn-primary " type="button">Modifier addresse</button>
								</a>
							</div>
						{% endfor %}
						{{ form_row(form.Information)  }}

					</div>
				</div>
			</div>
			<div class="col-5 rm">
				<div class="panier-total p-4  ba-ba">
					<h5 class="pb-3 bo_bo">Panier total</h5>
					<div class="liste-panier pt-2">
						<ul class="ps-3" style="list-style-type:none">

							{% for cart in carts.produit %}
								<li class="mt-2">
									<span class=""><img src="./asset/upload/product/{{cart.produit.imagePro}}" height="40px" alt="" width="50px">
									</span>
									<span class="pe-1 ps-1">{{cart.produit.nomPro}}</span>
									<span class="pe-1 ps-1">
										<small>X</small>
										{{cart.quantite}}</span>
									<span class="">({{cart.quantite * cart.produit.prixPro}}
										<small>Ar</small>
										)</span>
								</li>

							{% endfor %}
						</ul>
					</div>
					<div class="mt-5 validation-com">
						<div class="mb-0 d-flex justify-content-between">
							<p>Sous-total</p>
							<p>{{carts.data.total}}
								Ar</p>
						</div>
						<div class="d-flex justify-content-between">
							<p>Frais de transport</p>
							<p>Gratuit</p>
						</div>
						<div class="d-flex justify-content-between">
							<p>Total
								<br><small>(y compris TVA)</small>
							</p>
							<p>{{carts.data.total}}
								Ar</p>
						</div>

					</div>
					<div class="commande">
						<button class="deleteAll btn btn-warning w-100">CONFIRMER LA COMMANDE</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>

		</div>
	</div>

{% endblock %}
