<div class="sidebar">
	<div class="sidebar-brand mt-4">
		<h2 class="text-white fw-bold">
			<span>
				<i class="bi-market"></i>
			</span>
			Web<span class="text-warning">Vente</span>
		</h2>
	</div>
	<div class="sidebar-menu">
		<ul>
			<li>
				<a href="{{path("app_admin")}}" class="active">
					<i class="bi-table"></i>
					<span>
						Tableau de bord
					</span>
				</a>

			</li>
			<li>
				<div class="icon-link">

					<a href="{{path("app_produit_index")}}">
						<i class="bi-columns-gap"></i>
						<span>
							Produit
						</span>
					</a>
					<i class="bi-chevron-down bcd"></i>
				</div>
				<ul class="sub-menu">
					<li>
						<a href="{{path("app_produit_index")}}">Liste des produits</a>
					</li>
					<li class='mt-0'>
						<a href="{{path("app_produit_new")}}">Ajouter produit</a>
					</li>
					<li>
						<a href="{{path("app_commentaire_produit")}}">Commantaire</a>
					</li>
				</ul>
			</li>


			<li>
				<div class="icon-link">

					<a href="{{path("app_categorie_index")}}">
						<i class="bi-justify"></i>
						<span>
							Categories
						</span>
					</a>

				</div>

			</li>

			<li>
				<div class="icon-link">

					<a href="{{path("app_marque_index")}}">
						<i class="bi-tags-fill"></i>
						<span>
							Marque
						</span>
					</a>

				</div>

			</li>

			<li>
				<div class="icon-link">
					<a href="{{path("app_commandes")}}">
						<i class="bi-inbox-fill"></i>
						<span>
							Commandes
						</span>

					</a>
					<span class="bcd"></span>
				</div>
			</li>


			<li>
				<div class="icon-link">
					<a href="{{path("app_blogs_index")}}">
						<i class="bi-bootstrap"></i>
						<span>
							Blogs
						</span>
					</a>
					<i class="bi-chevron-down bcd"></i>
				</div>
				<ul class="sub-menu">
					<li>
						<a href="{{path("app_blogs_index")}}">Liste des blogs</a>
					</li>
					<li>
						<a href="{{path("app_commentaire_blog")}}">Commentaire</a>
					</li>

				</ul>
			</li>
			<li>
				<div class="icon-link">
					<a href="{{path("app_client")}}">
						<i class="bi-person-fill"></i>
						<span>
							Clients
						</span>
					</a>
					<i class="bi-chevron-down bcd"></i>
				</div>
				<ul class="sub-menu">
					<li>
						<a href="{{path("app_client")}}">Liste des clients</a>
					</li>
					<li>
						<a href="{{path("app_contact_list")}}">Contact</a>
					</li>

				</ul>
			</li>

			<li>
				<div class="icon-link">

					<a href="{{path("app_slides_index")}}">
						<i class="bi-award-fill"></i>
						<span>
							Commercialisation
						</span>
					</a>

				</div>

			</li>

			<li>
				<div class="icon-link">

					<a href="{{path("app_user")}}">
						<i class="bi-keyboard-fill"></i>
						<span>
							Gestion Des Users
						</span>
					</a>
					<i class="bi-chevron-down bcd"></i>
				</div>
				<ul class="sub-menu">
					<li>
						<a href="{{path("app_user")}}">Liste des Users</a>
					</li>


				</ul>
			</li>
			<li>
				<div class="icon-link">

					<a href="{{path("app_logout")}}">
						<i class="bi-box-arrow-left"></i>
						<span>
							Logout
						</span>
					</a>

				</div>

			</li>
		</div>
	</div>
</div>
<div class="entete">
	<header>
		<h5>
			<span id="toggle" class="fw-bold fs-4">
				<i class="bi-justify pe-4"></i>
			</span>
			Bienvenue sur le tableau de bord
			{{app.user.fullName}}
		</h5>
		<div class="user-connecte"><img src="/asset/upload/product/{{app.user.imageUser}}" width="50px" height="50px" alt="children"><div>
				<h6>{{app.user.prenomUser}}</h6>
				<small class="text-dark ">Super admin</small>
			</div>
		</div>
	</header>
</div>
