<div class="sidebar">
	<div class="sidebar-brand">
		<h2>
			<span>
				<i class="bi-market"></i>
			</span>
			Webvente</h2>
	</div>
	<div class="sidebar-menu">
		<ul>
			<li>
				<a href="{{path("app_admin")}}" class="active">
					<i class="bi-table"></i>
					<span>
						Tableau de baord
					</span>
				</a>

			</li>
			<li>
				<div class="icon-link">

					<a href="">
						<i class="bi-columns-gap"></i>
						<span>
							Produit
						</span>
					</a>
					<i class="bi-chevron-down bcd"></i>
				</div>
				<ul class="sub-menu">
					<li>
						<a href="{{path("app_produit_index")}}">Liste des produits</a>
					</li>
					<li class='mt-0'>
						<a href="{{path("app_produit_new")}}">Ajouter produit</a>
					</li>
					<li>
						<a href="{{path("app_commentaire")}}">Commantaire</a>
					</li>
				</ul>
			</li>


			<li>
				<div class="icon-link">

					<a href="{{path("app_categorie_index")}}">
						<i class="bi-justify"></i>
						<span>
							Categories
						</span>
					</a>

				</div>

			</li>

			<li>
				<div class="icon-link">

					<a href="{{path("app_marque_index")}}">
						<i class="bi-tags-fill"></i>
						<span>
							Marque
						</span>
					</a>

				</div>

			</li>

			<li>
				<a href="{{path("app_commandes")}}">
					<i class="bi-inbox-fill"></i>
					<span>
						Commandes
					</span>
				</a>
			</li>

			<li>
				<div class="icon-link">
					<a href="">
						<i class="bi-person-fill"></i>
						<span>
							Clients
						</span>
					</a>
					<i class="bi-chevron-down bcd"></i>
				</div>
				<ul class="sub-menu">
					<li>
						<a href="{{path("app_client")}}">Liste des clients</a>
					</li>
					<li>
						<a href="{{path("app_contact_list")}}">Contact</a>
					</li>

				</ul>
			</li>

			<li>
				<div class="icon-link">

					<a href="">
						<i class="bi-award-fill"></i>
						<span>
							Commercialisation
						</span>
					</a>
					<i class="bi-chevron-down bcd"></i>
				</div>
				<ul class="sub-menu">
					<li>
						<a href="">Des offres</a>
					</li>
					<li>
						<a href="">Ajouter offre</a>
					</li>

				</ul>
			</li>

			<li>
				<div class="icon-link">

					<a href="">
						<i class="bi-keyboard-fill"></i>
						<span>
							Gestion Des Users
						</span>
					</a>
					<i class="bi-chevron-down bcd"></i>
				</div>
				<ul class="sub-menu">
					<li>
						<a href="">Liste des Users</a>
					</li>
					<li>
						<a href="">Ajouter User</a>
					</li>

				</ul>
			</li>
		</div>
	</div>
</div>
<div class="entete">
	<header>
		<h4>Welcome to tableau de board</h4>
		<div class="user-connecte"><img src="/asset/upload/product/children.jpg" width="50px" height="50px" alt="children"><div>
				<h4>{{app.user.prenomUser}}</h4>
				<span>Super admin</span>
			</div>
		</div>
	</header>
</div>
