{% block body %}
	<header class="bg-primary fixed-top">
		<nav class="rs-phone mx-5">
			<ul class="rs-nav ">
				<li class="fs-5">
					<i id='bar' class="bi-justify"></i>
				</li>
				<li class="fs">
					<h3 class=" fw-bold text-white">Web<span class="text-warning">Vente</span>
					</li>
				</li>
				<li class=" fs-5">
					<i class="bi-search"></i>
					<i class=" ms-2 bi-bag-plus"></i>
				</li>
			</ul>
			<nav>
				<ul id="rs-list" class="rs-list">
					<li class="nav-item fs">
						<a class="nav-link text-white " href="{{path("app_compte")}}">
							<i class="bi-person"></i>
							My account</a>
					</li>
					<li class="nav-item fs">
						<a class="nav-link  text-white" href="{{path("app_cart")}}">
							<i class="bi-cart-fill"></i>
							My cart</a>
					</li>
					<li class="nav-item fs">
						<a class="nav-link  text-white" href="{{path("app_favorite_produit")}}">
							<i class="bi-heart-fill"></i>
							My wishlist</a>
					</li>
					<li class="nav-item fs">
						<a class="nav-link  text-white" href="{{path("app_checkout")}}">
							<i class="bi-check"></i>
							Checkout</a>
					</li>
					<li class="nav-item fs">
						<a class="nav-link text-white " href="{{path("app_home")}}">
							<i class="bi-house"></i>
							Home</a>
					</li>
					<li class="nav-item fs">
						<a class="nav-link  text-white" href="{{path("app_produit")}}">
							<i class="bi-bag"></i>
							Shop</a>
					</li>

					<li class="nav-item fs">
						<a class="nav-link  text-white" href="{{path("app_blog")}}">
							<i class="bi-bootstrap"></i>
							Blog</a>
					</li>
					<li class="nav-item fs">
						<a class="nav-link  text-white" href="{{path("app_favorite_produit")}}">
							<i class="bi-cast"></i>
							About us</a>
					</li>
					<li class="nav-item fs">
						<a class="nav-link  text-white" href="{{path("app_contact")}}">
							<i class="bi-telephone"></i>
							Contact</a>
					</li>
					{% if app.user %}
						<li class="logout  nav-item fs">
							<a class="logout nav-link  text-white " href="{{path("app_logout")}}">
								<i class="bi-lock"></i>
								Logout</a>
						</li>
					{% else %}
						<li class="nav-item fs">
							<a class="nav-link  text-white " href="{{path("app_register")}}">
								<i class="bi-person-badge"></i>
								Register</a>
						</li>
						<li class="nav-item fs">
							<a class="nav-link  text-white " href="{{path("app_login")}}">
								<i class="bi-lock"></i>
								Login</a>
						</li>

					{% endif %}
					<li class="nav-item fs">
						<a class="nav-link  text-white " href="#">
							<i id='clos' class="bi-x"></i>
						</a>
					</li>

				</ul>
			</nav>


		</nav>
		<ul class="nav justify-content-end container rs-nav ">
			<li class="nav-item fs">
				<a class="nav-link text-white " href="{{path("app_compte")}}">
					<i class="bi-person"></i>
					My account</a>
			</li>
			<li class="nav-item fs">
				<a class="nav-link  text-white" href="{{path("app_cart")}}">
					<i class="bi-cart-fill"></i>
					My cart</a>
			</li>
			<li class="nav-item fs">
				<a class="nav-link  text-white" href="{{path("app_favorite_produit")}}">
					<i class="bi-heart-fill"></i>
					My wishlist</a>
			</li>
			<li class="nav-item fs">
				<a class="nav-link  text-white" href="{{path("app_checkout")}}">
					<i class="bi-check"></i>
					Checkout</a>
			</li>
			{% if app.user %}
				<li class="nav-item fs">
					<a class="logout nav-link  text-white " href="{{path("app_logout")}}">
						<i class="bi-lock"></i>
						Logout</a>
				</li>
			{% else %}
				<li class="nav-item fs">
					<a class="nav-link  text-white " href="{{path("app_register")}}">
						<i class="bi-person-badge"></i>
						Register</a>
				</li>
				<li class="nav-item fs">
					<a class="nav-link  text-white " href="{{path("app_login")}}">
						<i class="bi-lock"></i>
						Login</a>
				</li>

			{% endif %}
		</ul>
		<nav class="navbar navbar-light bg-primary display-inline-block container rs-navbar">
			<h3 class="ms-5 fw-bold text-white">Web<span class="text-warning">Vente</span>
			</h3>
			<form action="{{path("app_produit_search")}}" methode="get">
				<div class="input-group">
					<select name="categorie" id="categorie" class="form-selecte form-control adi">
						<option value="0">All categorie</option>
						<option value="4">Smartphone</option>
						<option value="3">Ordinateur</option>
						<option value="2">Sport</option>
						<option value="1">Vétement</option>
						<option value="5">Montre éléctro</option>
						<option value="6">Télévision</option>
						<option value="7">Health and beauty</option>
						<option value="8">Kids end girls</option>
						<option value="9">Chaussur</option>
					</select>
					<input type="text" class="form-control " name="nomPro" id="search-product" autocomplete="off" placeholder="Search here" aria-label="Username" aria-describedby="basic-addon1" style="width:400px">
					<button type="submit" id="submit" class=" btn btn-sm btn-warning adi">
						<i class="bi-search"></i>
					</button>
				</div>

				<div id="result-search"></div>

			</form>
			<button type="submit" id="btnt" class="btn text-white bg-blue pe-4">
				<span>
					<i class="bi-cart-check-fill fs-5"></i>
					<span class="numb-cart bg-warning text-dark text-center">0</span>

					CART -
					<span class="ps-1 sumPrice">0.00</span>
					Ar
				</span>


			</button>
		</nav>
		<nav class="navbar-expand navbar-light mx-0 bgr-blue rs-navbar-exp">
			<div class="container-fluid">

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse container menu pt-0 pb-0" id="navbarText">
					<ul class="navbar-nav me-auto ">
						<li class="nav-item  ">
							<a class="nav-link text-white active " aria-current="page" href="{{path("app_home")}}">HOME</a>
						</li>
						<li class="nav-item">
							<a href="{{path("app_produit")}}" class="nav-link text-white ">SHOP</a>
						</li>
						<li class="nav-item">
							<a href="{{path("app_blog")}}" class="nav-link text-white ">BLOG</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link text-white ">ABOUT</a>
						</li>
						<li class="nav-item">
							<a href="{{path("app_contact")}}" class="nav-link text-white ">CONTACT</a>
						</li>
					</ul>
					<span class="navbar-text ">
						<a href="" class="text-decoration-none text-warning">TODAY OFFER</a>
						{% if app.user %}

							<span class="text-white">
								<img src="../../asset/upload/product/{{app.user.imageUser}}" class="brce ms-2 me-2" width="30px" height="30px" alt="" srcset="">
								{{app.user.fullName}}
							</span>
						{% endif %}
					</span>
				</div>
			</div>
		</nav>

	</header>
{% endblock %}
