{% block body %}
	<header class="bg-primary fixed-top">


		<ul class="nav justify-content-end container ">
			<li class="nav-item fs">
				<a class="nav-link text-white " href="{{path("app_compte")}}">
					<i class="bi-person"></i>
					My account</a>
			</li>
			<li class="nav-item fs">
				<a class="nav-link  text-white" href="{{path("app_cart")}}">
					<i class="bi-cart-fill"></i>
					My cart</a>
			</li>
			<li class="nav-item fs">
				<a class="nav-link  text-white" href="{{path("app_cart")}}">
					<i class="bi-heart-fill"></i>
					My wishlist</a>
			</li>
			<li class="nav-item fs">
				<a class="nav-link  text-white" href="{{path("app_checkout")}}">
					<i class="bi-check"></i>
					Checkout</a>
			</li>
			{% if app.user %}
				<li class="nav-item fs">
					<a class="nav-link  text-white " href="{{path("app_logout")}}">
						<i class="bi-lock"></i>
						Logout</a>
				</li>
			{% else %}

				<li class="nav-item fs">
					<a class="nav-link  text-white " href="{{path("app_login")}}">
						<i class="bi-lock"></i>
						Login</a>
				</li>
			{% endif %}
		</ul>
		<nav class="navbar navbar-light bg-primary display-inline-block container">
			<h3 class="ps-4">Webvente</h3>
			<form action="{{path("app_produit_search")}}" methode="get">
				<div class="input-group">
					<select name="categorie" id="categorie" class="form-selecte form-control adi">
						<option value="0">All categorie</option>
						<option value="Smartphone">Smartphone</option>
						<option value="2">Ordinateur</option>
						<option value="3">Sport</option>
						<option value="4">Vétement</option>
						<option value="5">Télévision</option>
					</select>
					<input type="text" class="form-control" name="nomPro" placeholder="Search here" aria-label="Username" aria-describedby="basic-addon1" style="width:400px">
					<button type="submit" class="btn btn-warning adi">
						<i class="bi-search"></i>
					</button>
				</div>
			</form>
			<button type="submit" class="btn text-white bg-blue pe-4">
				<span>
					<i class="bi-cart-check-fill fs-5"></i>

					<small class="ps-4">CART - 122234 Ar</small>
				</span>

				<span class="numb-cart bg-warning text-dark text-center">3</span>

			</button>
		</nav>
		<nav class="navbar-expand navbar-light ms-0 me-0 bgr-blue">
			<div class="container-fluid">

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse container menu pt-0 pb-0" id="navbarText">
					<ul class="navbar-nav me-auto ">
						<li class="nav-item  ">
							<a class="nav-link text-white active " aria-current="page" href="{{path("app_home")}}">HOME</a>
						</li>
						<li class="nav-item">
							<a href="{{path("app_produit")}}" class="nav-link text-white ">SHOP</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link text-white ">BLOG</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link text-white ">ABOUT</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link text-white ">CONTACT</a>
						</li>
					</ul>
					<span class="navbar-text ">
						<a href="" class="text-decoration-none text-warning">TODAY OFFER</a>
					</span>
				</div>
			</div>
		</nav>

	</header>


{% endblock %}
